<section class="min-vh-100 d-flex align-items-center">
    <div class="container d-flex justify-content-center">

        <form class="py-5 w-75" [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
            <h1 class="text-white text-start">Register:</h1>

            <div class="d-flex flex-column gap-2 justify-content-center">

                <div class="row gy-3">

                    <div class="col-md-6">
                        <div class="form-floating">
                            <input 
                                [ngClass]="{
                                    'bg-danger': formIsInvalid(registerForm.get('firstName'), 'required','maxlength','minlength'),
                                    'bg-success': formIsValid(registerForm.get('firstName'))
                                }"
                                formControlName="firstName" 
                                type="text" 
                                class="form-control" 
                                id="floatingFirstName"
                                placeholder="First Name"
                            >
                            <label for="floatingFirstName">First Name</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating">
                            <input 
                                [ngClass]="{
                                    'bg-danger': formIsInvalid(registerForm.get('lastName'), 'required','maxlength','minlength'),
                                    'bg-success': formIsValid(registerForm.get('lastName'))
                                }"
                                formControlName="lastName" 
                                type="text" 
                                class="form-control" 
                                id="floatingLastName"
                                placeholder="Last Name"
                            >
                            <label for="floatingLastName">Last Name</label>
                        </div>
                    </div>

                </div>

                <div class="form-floating">
                    <input 
                        [ngClass]="{
                            'bg-danger': formIsInvalid(registerForm.get('email'), 'required', 'email'),
                            'bg-success': formIsValid(registerForm.get('email'))
                        }" 
                        formControlName="email" 
                        type="email" 
                        class="form-control" 
                        id="floatingEmail" 
                        placeholder="Email"
                    >
                    <label for="floatingEmail">Email</label>
                </div>

                <div class="form-floating">
                    <input 
                        [ngClass]="{
                            'bg-danger': formIsInvalid(registerForm.get('password'), 'required','minlength') || formIsInvalid(registerForm.get('password'), 'password'),
                            'bg-success': formIsValid(registerForm.get('password')) && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)
                        }"
                        formControlName="password" 
                        type="password" 
                        class="form-control" 
                        id="floatingPassword" 
                        placeholder="Password"
                    >
                    <label for="floatingPassword">Password</label>
                </div>

                <div class="form-floating">
                    <input 
                        [ngClass]="{
                            'bg-danger': formIsInvalid(registerForm.get('rePassword'), 'required','minlength') || formIsInvalid(registerForm.get('rePassword'), 'mismatch'),
                            'bg-success': formIsValid(registerForm.get('rePassword')) && (registerForm.get('rePassword')?.dirty || registerForm.get('rePassword')?.touched)
                        }"
                        formControlName="rePassword" 
                        type="password" 
                        class="form-control" 
                        id="floatingrePassword" 
                        placeholder="Confirm Password"
                    >
                    <label for="floatingrePassword">Confirm Password</label>
                </div>


                @if(registerSuccess){
                <p class="alert alert-success m-0">Register Success!, redirect to home..</p>
                }

                @if (registerErrorMsg && !registerSuccess) {
                <p class="alert alert-danger m-0">{{registerErrorMsg}}</p>
                }

                <button type="submit"
                    class="btn btn-light m-0">
                    @if (isLoading) {
                    <div class="spinner-border text-dark" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    }@else {
                    Register
                    }
                </button>

            </div>
            <p class="text-white mt-3">Already have an account? <a routerLink="/login" class="text-white">Login Now</a></p>
        </form>
        
    </div>
</section>